body
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#formContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.inputDiv, input
{
    border-width: 2px;
    border-color: cornflowerblue;
}
.imgDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submitBTN
{
    margin-top: 15px;
    background-color: cornflowerblue;
    border: 0;
}